<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <title>Student Management System</title>
</head>
<body>
<div class="overlay">
    <form action="/login" method="post">
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Log In</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>Login here using your Username and Password</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!--   user name -->
                <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                </span>
                <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" name="username" placeholder="UserName" required>

                <br>

                <!--   Password -->
                <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                <!--   Password Input-->
                <input class="form-input" type="password" name="password" placeholder="Password" id="pwd" required>

                <br>
                <!--        buttons -->
                <!--      button LogIn -->
                <button class="log-in">Log In</button>
            </div>

            <!--   End Conrainer  -->
        </div>

        <!-- Show error message if login fails -->
        <div style="color: red; text-align: center; margin-top: 10px;">
            <p th:text="${error}"></p>
        </div>
        <!-- End Form -->
    </form>
</div>
</body>
</html>